.card {
    background-color: rgb(190, 234, 178);
    box-shadow: 2px 3px 10px #040007;
    /* display: block;
    margin: 0 auto;
    padding: 0.5rem;
    width: fit-content; */
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0.2em 0;
    max-width: 30rem;
    padding: 0.5rem;
}

.card div {
    margin-right: 1.5rem;
}
